/*
==============================
Estilos Globais
==============================
*/

:root{
    --fundoLaranjaEscuro: #FFB354;
    --fundoLaranjaClaro: #FDF1EB;
    --textoLogo: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


/*
==============================
Corpo da página
==============================
*/

.corpo_da_pagina{
   display: flex;
}

@media screen and (max-width:678px){
    .corpo_da_pagina{
        display: block;
    }
}

/*
==============================
Menu Lateral
==============================
*/

.menu_lateral_container{
    max-width: 20vw;
    height: auto;
    box-shadow: 2px 0 10px grey;
}

@media screen and (max-width:678px){
    .menu_lateral_container{
        display: none;
    }
}

.logo_background{
background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
width: 20vw;
min-height: 68px;
display: flex;
justify-content: center;
align-items: center;
}

.logo_text{
color: var(--textoLogo);
font-family: 'Robotof';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
}

.logo_13_slaca{
   padding: 10px 0;
   margin: 10px 0;
}

.logo_img{
  max-width: 20vw;
  padding: 0 10px;
}

.menu_lateral_container ul li a{
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #725C5C;
}

.menu_lateral_container ul li{
    margin:10px 0;
    padding-left: 20px;
    transition: .5s;
    color: #000;
}

.menu_lateral_container ul li:hover{
   background-color: #FDF1EB;
   padding:10px;
   width: 18vw;
   color: grey;
   transform: translateX(10%);
}

.category_underline{
    background-color:#E7E7E7;
    width: 20vw;
    height:2px;
}

/*
==============================
Menu mobile
==============================
*/

.menu_mobile_icon{
    position: absolute;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 2;
}

.close_menu_mobile{
    position: absolute;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
 .menu_mobile_container{
      position: absolute;
      background-color: #FFB354;
      width: 100vw;
      height: 100vh;
      transform: translate(-100%);
      transition: .5s;
      z-index: 1;
    }

    .open_menu_mobile{
       transform: translate(0);
    }

    .menu_mobile{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 20px;
        padding: 20px 0;
    }
    .menu_mobile a li{
        margin: 10px 0;
    }
    /* .barra_superior_text, .user_info_container, .info_text{
      display: none; */



@media screen and (min-width:678px){
    .menu_mobile_icon, .close_menu_mobile{
        display: none;
    }
}

@media screen and (min-width:678px){
    .menu_mobile_container{
        display: none;
    }
}

/*
==============================
container-principal
==============================
*/

@media screen and (max-width:678px){
    .container_principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:678px){
    .container_principal{
    margin-left: 40px;
}
}

/*
==============================
Barra superior
==============================
*/

@media screen and (min-width:678px){
.barra_superior_background{
 background-color:#FDF1EB;
 width: 80vw;
 display: flex;
 padding: 10px;
}
}



/*
=================================
Cabeçalho
=================================
*/

.barra_superior_text{
    padding-top: 10px;
}

@media screen and (max-width:678px){
    .barra_superior_text{
        display: none;
    }
}

.barra_superior_text_h4{
    font-size: 22px;
}

.barra_superior_p{
   font-size: 14px;
}

.info_text{
    margin-right: 10px;
}

@media screen and (max-width:678px){
    .info_text p{
    display: none;
    }
}

.idioma_btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 34px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 30px;
}

@media screen and (max-width:678px){
    .idioma_btn_container{
        display: none;
    }
}

.idioma_btn_container:hover{
    background-color: rgb(226, 220, 220);
}

.idioma_btn_text{
    margin: 0 10px;
}

.user_info_container{
    text-align: end;
    display: flex;
    margin: 10px 20px;
    padding: 10px;
    font-family: Quicksand;
    position: absolute;
    top: 0;
    right: 0;
}
.user_info_photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 2%;
    object-fit: cover;
    background-position: center;
}

.superior_box{
    display: flex;
    justify-content: space-evenly;
}

/*
============================
titulo e botões
============================
*/

.bloco_titulo_botoes{
    display: flex;
}

.title_and_btns{
   width: 80vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.title_and_btns h3{
    font-size: 1.6rem;
    margin: 20px 0;
    color: #EE7A3A;
}


@media screen and (min-width:678px){
    .title_and_btns h3{
        max-width: 55vw;
    }
}

@media screen and (max-width:678px){
    .title_and_btns h3{
        width: 100vw;
        text-align: center;
        margin-top: 5rem;
    }
}

.video_container{
   border-radius: 3px;
   width: 55vw;
}


.video_container_img{
    width: 52vw;
    height: 540px;
    background: rgba(141, 53, 6, 0.5 #8D350680);
}

@media screen and (max-width:678px){
    .video_container_img{
        height: 20vh;
        width: 74vw;
        margin-bottom: 10px;
}
}

.video_container_texts{
    position: absolute;
    top: 25%;
    left: 25%;
    color: #fff;
    max-width: 50vw;
}

.video_container_texts h3{
    font-size: 2rem;
}

@media screen and (max-width:678px){
    .video_container_texts h3{
    display: none;
}
}

.video_container_author{
    position: absolute;
    top:60%;
    left:28%;
    color: #fff;
}

.video_container_avatar_photo{
   width: 20px;
}

.buttons_and_text_uppercase{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:678px){
    .buttons_and_text_uppercase{
        display: none;
    }
}

.btn_orange{
    border-style: none;
    background-color: var(--fundoLaranjaEscuro);
    padding:10px 30px;
    border-radius:5px;
    margin: 0 4px;
    color: var(--textoLogo);
}

.btn_orange:hover{
    opacity: 0.7;
}

.btn_orange_download{
    font-weight: 500;
    font-family: roboto;
    font-size: 16px;
}
.special_btn{
   padding: 5 10px;
}

.doi_orange{
    color: #EE7A3A;
}

.doi_btn_container{
    background-color: #fff;
    border-radius: 50%;
    font-size: 1em;
    font-weight: 900;
}

.text_uppercase{
    margin-top: 10px;
    color: #EE7A3A;
    text-align: center;
    font-size: 20px;
}

.video_and_details_box{
    display: flex;
}



@media screen and (max-width:678px){
    .video_and_details_box{
        display: flex;
        flex-direction: column;
    }
    .video_container_title{
        padding-top: 10px;
    }
}

.details_title{
    background-color: var(--fundoLaranjaClaro);
    font-size: 20px;
    text-align: start;
    padding: 15px;
}

.details_box{
    /* margin-left: 40px; */
    border: 1px dashed grey;
}
.details_box p{
    padding: 5px;
}

.details, .authors, .places{
  margin:20px 15px 10px;
}

.places{
color: grey;
}

/*
==================================
Resumo
==================================
*/

.resumo_container{
  max-width: 71.3vw;
  height: 189px;
  margin: 20px 0;
  border-radius: 3px;
  border: 1px solid #ECECEC;
}

@media screen and (max-width:678px){
    .resumo_container{
        height: 85vh;
    }
    .resumo_p{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 25px;
    }
}

.resumo_title_background{
  background-color: var(--fundoLaranjaClaro);
  max-width: 71.3vw;
  height: 45px;
}

@media screen and (max-width:678px){
    .resumo_title_background{
        text-align: center;
    }
}

.resumo_container h3{
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
}

.resumo_container p{
    text-align: justify;
    margin-top: 10px;
    padding: 0 20px;

}

.ver_mais_text{
    color: #EE7A3A;
}

/*
==================================
Discussões
==================================
*/

.discussoes_container{
  max-width: 71.3vw;
  height: 570px;
  margin: 20px 0;
  border-radius: 3px;
  border: 1px solid #ECECEC;
}

@media screen and (max-width:678px){
    .discussoes_container{
        height: 95vh;
    }
}

.discussoes_title_background{
  background-color: var(--fundoLaranjaClaro);
  max-width: 71.3vw;
  height: 45px;
}

@media screen and (max-width:678px){
    .discussoes_title_background{
        text-align: center;
    }
}


.discussoes_container h3{
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
}


/*
==================================
Discussões - Compartilhar ideias
==================================
*/

.share_ideas_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.share_ideias_title{
   text-align: center;
   color: #ED7839;
   margin: 20px 0;
   font-size: 18px;
   font-weight: 700;
}

.share_icons i{
    margin: 0 30px;
    font-size: 20px;
}

.share_ideas_p{
    width: 626px;
    height: 39px;
    text-align: center;
    font-size: 14px;
    margin: 20px 0;
    color: #595959;
    font-family: Quicksand;
}

@media screen and (max-width:678px){
    .share_ideas_p{
        max-width:60vw;
        margin-bottom: 60px;
    }
}

.share_ideas_btn{
    border-style: none;
    background: linear-gradient(#FEB254,#F0813D);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    width: 133px;
    height: 32px;
    transition: .5s;
    z-index: 2;
    cursor: pointer;
}

.share_ideas_btn:hover{
    opacity: 0.7;
}

.share_ideas_btn_line{
    background-color: #E7E7E7;
    max-width: 66vw;
    height: 1px;
    position: relative;
    top: -2%;
    margin: 0 auto;
    z-index: 1;
}

/*
==================================
Discussões - Comentários
==================================
*/

.comentarios_container{
  margin: 10px;
  padding: 10px;
}

.comentario_container{
  border-radius: 3px;
  border: 1px solid #ECECEC;
  box-shadow: 1px 2px 5px #ECECEC;
  margin: 20px 0;
  padding: 10px;
}

.comentario_container h4{
    color: #ED7839;
    margin-bottom: 5px;
}

.comentario_container h6{
    font-weight: 500;
    margin-bottom: 10px;
}

.comentario_container p{
    font-weight: 400;
    margin-bottom: 5px;
}

.comentario_icons{
    padding: 0 10px;
    display: flex;
}

.comentario_icone_tres_pontos{
   color: #EE7A3A;
}

.heart_background{
    background-color: #EE7A3A;
    padding: 11px 15px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin: 0 10px;
}

.heart{
    color: #fff;
    cursor: pointer;
}
.heart:hover{
    color: #FEB254;
}

.comentario_text{
   color: #757575;
   margin: 0 3px;
}

/*
==================================
Footer
==================================
*/

.footer_underline{
    background-color:#E7E7E7;
    width: 70vw;
    height:2px;
}

.footer_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 70vw;
    margin-bottom: 30px;
}

@media screen and (max-width:678px){
    .footer_container{
        display: flex;
        flex-direction: column;
        width: 70vw;
        text-align: center;
        margin-bottom: 50px;
    }
    .footer_logo_and_btn{
        padding: 20px 0;
    }
}

.footer_logo_and_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 71.3vw;
}

.footer_logo_img{
   width: 300px;
}

@media screen and (max-width:678px){
    .footer_logo_img{
        width: 150px;
    }
}

.footer_btn{
    background-color: rgb(104, 7, 104);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    max-width: 100px;
    border-style: none;
    margin-top: 10px;
}

.footer_text{
    margin: 0 20px;
}

.footer_text p{
    max-width: 1000px;
    margin-top: 10px;
}